.logo > img{
    width: 100px;
    height: 100px;
}
.nav-list > ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
}
.head{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list > ul > li{
    margin: 10px;
    padding: 10px;
}
.search > input {
    padding: 8px;
    width: 750px;
    border-radius: 15px;
}
.card-img{
    width: 200px;
    height: 200px;
}
.cards{
    width: 200px;
    padding: 5px;
    margin: 10px;
    background-color: antiquewhite;
}
.cards:hover{
    border: 1px solid black;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}